name: nav_router
description: A new flutter plugin project.
version: 0.0.1
author: crazyQ1
homepage:

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:

  plugin:
    androidPackage: com.example.nav_router
    pluginClass: NavRouterPlugin
